<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>

    <body>
        <!-- ! font-weight -->
        <p class="font-thin">thin weight</p>
        <p class="font-extralight">extralight weight</p>
        <p class="font-light">light weight</p>
        <p class="font-normal">normal weight</p>
        <p class="font-medium">medium weight</p>
        <p class="font-semibold">semibold weight</p>
        <p class="font-bold">bold weight</p>
        <p class="font-extrabold">extrabold weight</p>
        <p class="font-black">black weight</p>
        <hr>
        <!-- @ font-style -->
        <p class="italic">italic</p>
        <p class="not-italic">italic</p>
        <hr>
        <!-- # text-align -->
        <p class="text-left">left</p>
        <p class="text-center">center</p>
        <p class="text-right">right</p>
        <p class="text-justify">justify text</p>
        <p class="text-start">start</p>
        <p class="text-end">end</p>
        <hr>
        <!-- & tracking spacing -->
        <p class="tracking-tight">space tight</p>
        <p class="tracking-normal">space normal</p>
        <p class="tracking-wide">space wide</p>
        <p class="tracking-widest">space widest</p>
        <hr>
        <p class="capitalize">text</p>
        <p class="uppercase">text</p>
        <p class="lowercase">TEXT</p>
        <p class="normal-case">Text</p>
        <!-- * font smoothing --skipped -->
    </body>

</html>