<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>

    <body>
        <!-- * text-decoration color  -->
        <p class="underline decoration-red-50">text</p>
        <p class="underline decoration-red-100">text</p>
        <p class="underline decoration-red-200">text</p>
        <p class="underline decoration-red-300">text</p>
        <p class="underline decoration-red-400">text</p>
        <p class="underline decoration-red-500">text</p>
        <p class="underline decoration-red-600">text</p>
        <p class="underline decoration-red-700">text</p>
        <p class="underline decoration-red-800">text</p>
        <p class="underline decoration-red-900">text</p>
        <p class="underline decoration-red-950">text</p>
        <hr>
        <!-- ^ text-decoration type -->
        <p class="underline">underline</p>
        <p class="line-through">line-through</p>
        <p class="overline">overline</p>
        <p class="no-underline">no-underline</p>
        <hr>
        <!-- ( text-decoration style) -->
        <p class="underline decoration-wavy">text wavy</p>
        <p class="underline decoration-double">text double</p>
        <p class="underline decoration-dotted">text dotted</p>
        <p class="underline decoration-dashed">text dashed</p>
        <p class="underline decoration-double">text double</p>
        <hr>
        <!-- $ text-decoration thickness -->
        <p class="underline">underline</p>
        <p class="underline decoration-1">underline 1</p>
        <p class="underline decoration-2">underline 2</p>
        <p class="underline decoration-4">underline 4</p>
        <p class="underline decoration-8">underline 8</p>
        <p class="underline decoration-auto">underline auto</p>
        <p class="decoration-from-font underline">underline from-font</p>
        <p class="underline decoration-0">underline 0</p>
        <hr>
        <!-- % text-decoration offset -->
        <p class="underline">text</p>
        <p class="underline underline-offset-1">offset 1</p>
        <p class="underline underline-offset-2">offset 2</p>
        <p class="underline underline-offset-4">offset 4</p>
        <p class="underline underline-offset-8">offset 8</p>
        <p class="underline underline-offset-auto">offset auto</p>
        <p class="underline underline-offset-0">offset 0</p>
        <hr>

    </body>

</html>