<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>

    <body>
        <!-- # width -->
        <div id="width">
            <div class="bg-amber-500 w-5">text</div>
            <div class="bg-amber-500 w-10">text</div>
            <div class="bg-green-500 w-max">text</div>
            <div class="bg-green-500 w-min">text</div>
            <div class="bg-orange-500 w-1/5">text</div>
            <div class="bg-orange-500 w-2/5">text</div>
            <div class="bg-orange-500 w-3/5">text</div>
            <div class="bg-orange-500 w-4/5">text</div>
            <div class="bg-orange-500 w-full">text</div>
            <div class="bg-violet-500 w-screen">text</div>
        </div>
        <!-- % height -->
        <div id="height">
            
        </div>
    </body>

</html>