<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>

    <body>
        <!-- component -->
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Link Normal:
                </p>
            </div>
            <button class="relative border-b border-black w-fit h-fit text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative border-b border-black w-fit h-fit text-sm">
                <p>
                    Small
                </p>
            </button>
            <button class="relative px-1 border-b-2 border-black w-fit h-fit text-md">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative px-1 border-b-2 border-black w-fit h-fit text-lg">
                <p>
                    Large
                </p>
            </button>
            <button class="relative px-1 border-b-4 border-black w-fit h-fit text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Link Disabled:
                </p>
            </div>
            <button class="relative border-gray-400 border-b w-fit h-fit text-gray-400 text-xs cursor-not-allowed">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative border-gray-400 border-b w-fit h-fit text-gray-400 text-sm cursor-not-allowed">
                <p>
                    Small
                </p>
            </button>
            <button
                class="relative border-gray-400 px-1 border-b-2 w-fit h-fit text-gray-400 text-md cursor-not-allowed"
            >
                <p>
                    Medium
                </p>
            </button>
            <button
                class="relative border-gray-400 px-1 border-b-2 w-fit h-fit text-gray-400 text-lg cursor-not-allowed"
            >
                <p>
                    Large
                </p>
            </button>
            <button
                class="relative border-gray-400 px-1 border-b-4 w-fit h-fit text-gray-400 text-xl cursor-not-allowed"
            >
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Full-Rounded Primary:
                </p>
            </div>
            <button class="relative bg-black px-2 py-0 border rounded-full w-fit h-fit text-white text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border rounded-full w-fit h-fit text-sm text-white">
                <p>
                    Small
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border rounded-full w-fit h-fit text-md text-white">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative bg-black px-4 py-1 border rounded-full w-fit h-fit text-lg text-white">
                <p>
                    Large
                </p>
            </button>
            <button class="relative bg-black px-4 py-2 border rounded-full w-fit h-fit text-white text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Full-Rounded Normal:
                </p>
            </div>
            <button class="relative px-2 py-0 border border-black rounded-full w-fit h-fit text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black rounded-full w-fit h-fit text-sm">
                <p>
                    Small
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black rounded-full w-fit h-fit text-md">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative px-4 py-1 border border-black rounded-full w-fit h-fit text-lg">
                <p>
                    Large
                </p>
            </button>
            <button class="relative px-4 py-2 border border-black rounded-full w-fit h-fit text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Full-Rounded Disabled:
                </p>
            </div>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-0 border rounded-full w-fit h-fit text-gray-400 text-xs cursor-not-allowed"
            >
                <p>
                    ExtraSmall
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border rounded-full w-fit h-fit text-gray-400 text-sm cursor-not-allowed"
            >
                <p>
                    Small
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border rounded-full w-fit h-fit text-gray-400 text-md cursor-not-allowed"
            >
                <p>
                    Medium
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-1 border rounded-full w-fit h-fit text-gray-400 text-lg cursor-not-allowed"
            >
                <p>
                    Large
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-2 border rounded-full w-fit h-fit text-gray-400 text-xl cursor-not-allowed"
            >
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Rounded Primary:
                </p>
            </div>
            <button class="relative bg-black px-2 py-0 border rounded w-fit h-fit text-white text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border rounded w-fit h-fit text-sm text-white">
                <p>
                    Small
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border rounded w-fit h-fit text-md text-white">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative bg-black px-4 py-1 border rounded w-fit h-fit text-lg text-white">
                <p>
                    Large
                </p>
            </button>
            <button class="relative bg-black px-4 py-2 border rounded w-fit h-fit text-white text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Rounded Normal:
                </p>
            </div>
            <button class="relative px-2 py-0 border border-black rounded w-fit h-fit text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black rounded w-fit h-fit text-sm">
                <p>
                    Small
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black rounded w-fit h-fit text-md">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative px-4 py-1 border border-black rounded w-fit h-fit text-lg">
                <p>
                    Large
                </p>
            </button>
            <button class="relative px-4 py-2 border border-black rounded w-fit h-fit text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Rounded Disabled:
                </p>
            </div>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-0 border rounded w-fit h-fit text-gray-400 text-xs cursor-not-allowed"
            >
                <p>
                    ExtraSmall
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border rounded w-fit h-fit text-gray-400 text-sm cursor-not-allowed"
            >
                <p>
                    Small
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border rounded w-fit h-fit text-gray-400 text-md cursor-not-allowed"
            >
                <p>
                    Medium
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-1 border rounded w-fit h-fit text-gray-400 text-lg cursor-not-allowed"
            >
                <p>
                    Large
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-2 border rounded w-fit h-fit text-gray-400 text-xl cursor-not-allowed"
            >
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Box Primary:
                </p>
            </div>
            <button class="relative bg-black px-2 py-0 border w-fit h-fit text-white text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border w-fit h-fit text-sm text-white">
                <p>
                    Small
                </p>
            </button>
            <button class="relative bg-black px-2 py-1 border w-fit h-fit text-md text-white">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative bg-black px-4 py-1 border w-fit h-fit text-lg text-white">
                <p>
                    Large
                </p>
            </button>
            <button class="relative bg-black px-4 py-2 border w-fit h-fit text-white text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Box Normal:
                </p>
            </div>
            <button class="relative px-2 py-0 border border-black w-fit h-fit text-xs">
                <p>
                    ExtraSmall
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black w-fit h-fit text-sm">
                <p>
                    Small
                </p>
            </button>
            <button class="relative px-2 py-1 border border-black w-fit h-fit text-md">
                <p>
                    Medium
                </p>
            </button>
            <button class="relative px-4 py-1 border border-black w-fit h-fit text-lg">
                <p>
                    Large
                </p>
            </button>
            <button class="relative px-4 py-2 border border-black w-fit h-fit text-xl">
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center gap-2 h-14">
            <div class="relative px-2 py-0 w-fit h-fit text-lg">
                <p>
                    Box Disabled:
                </p>
            </div>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-0 border w-fit h-fit text-gray-400 text-xs cursor-not-allowed"
            >
                <p>
                    ExtraSmall
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border w-fit h-fit text-gray-400 text-sm cursor-not-allowed"
            >
                <p>
                    Small
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-2 py-1 border w-fit h-fit text-gray-400 text-md cursor-not-allowed"
            >
                <p>
                    Medium
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-1 border w-fit h-fit text-gray-400 text-lg cursor-not-allowed"
            >
                <p>
                    Large
                </p>
            </button>
            <button
                class="relative border-gray-400 bg-gray-200 px-4 py-2 border w-fit h-fit text-gray-400 text-xl cursor-not-allowed"
            >
                <p>
                    ExtraLarge
                </p>
            </button>
        </div>
    </body>

</html>