<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
        ></script>

        <!-- Alpine Core -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <title>Document</title>
    </head>

    <body>
        <div x-data="{num: $persist(0)}">
            <p x-text="num"></p>
            <button @click="num++">+</button>
        </div>

    </body>

</html>